* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* layout  */
.container {
  width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

/* col */
.col-100 {
  width: 100%;
}

.col-18 {
  width: calc(100% / 6);
}

/* flex */

/* header */
#header {
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  height: 100%;
}

/* main */
main {
  height: calc(100vh - 80px);
  display: flex;
}

/** sidebar */
#sidebar {
  width: 250px;
  height: 100%;
  background-color: greenyellow;
  color: grey;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden
}

.content-selection li {
  padding-bottom: 10px;
  position: relative;
}


.content-selection i {
  margin-right: 5px;
}

.content-selection li i {
  font-size: 1.5rem;
}

.new-playlist i {
  font-size: 2.5rem;
}

#sidebar h3 {
  margin: 10px 0;
}

.playlist li {
  margin: 15px 0;
}

.content-selected {
  display: inline;
  border: 1px solid red;
  height: 100%;
  position: absolute;
  left: -20px;
}

#sidebar .bottom>* {
  padding: 5px 0;
}


/** content */
#content {
  width: calc(100vw - 250px);
  height: 100%;
  background-color: orange;
  overflow-y: auto;
}

.menu {
  display: flex;
  justify-content: center;
}

#content .menu ul {
  display: flex;
}

#content .menu li {
  padding: 10px;
  text-transform: uppercase;
}

.card {
  text-align: center;
  padding: 5%;
}

.card img {
  width: 100%;
}

/* footer */
footer {
  background-color: grey;
  height: 80px;
}

/* classes */
.cta {
  border: 1px solid black;
  padding: 10px 40px;
  border-radius: 25px;
}

.header-fix {
  height: 80px;
  width: 100%;
}