* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* layout  */
.container {
  width: 95%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.gap-10 {
  gap: 10px;
}

li {
  list-style-type: none;
}

/* col */
.col-100 {
  width: 100%;
}

.col-18 {
  width: calc(100% / 6 - 9px);
}

/* flex */
.display-flex {
  display: flex;
}

.align-w-flex {
  display: flex;
  align-items: center;
}

/* header */
#header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo img {
  height: 100%;
}

/* main */
main {
  height: calc(100vh - 80px);
  display: flex;
}

/** sidebar */
#sidebar {
  width: 250px;
  height: 100%;
  background-color: #000000;
  color: grey;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden
}

.content-selection li {
  padding-bottom: 10px;
  position: relative;
}

#sidebar i {
  margin-right: 5px;
}

.content-selection li i {
  font-size: 1.5rem;
}

.new-playlist i {
  font-size: 2.5rem;
}

#sidebar h3 {
  margin: 10px 0;
  text-transform: uppercase;
  color: #fff;
}

.playlist li {
  margin: 15px 0;
}

#sidebar .content-selected {
  display: inline;
  border: 1px solid red;
  height: 100%;
  position: absolute;
  left: -20px;
}

#sidebar .bottom>* {
  padding: 8px 0;
}

#sidebar .bottom i {
  margin-right: 10px;
}

.profile {
  color: #fff;
  margin-bottom: 5px;
}

.profile i {
  font-size: 2em;
}


/** content */
#content {
  width: calc(100vw - 250px);
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
  color: grey;
}

.menu {
  display: flex;
  justify-content: center;
}

#content .menu ul {
  display: flex;
}

#content .menu li {
  padding: 10px;
  text-transform: uppercase;
}

.card {
  text-align: center;
}

.card-img {
  width: 100%;
  position: relative;
}

.card img {
  width: 100%;
}

.card .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 3rem;
  color: #fff;
  opacity: 0;
}

.rounded {
  border-radius: 50%;
}

#content h2 {
  padding: 5px 0;
}

#content h6 {
  margin-bottom: 20px;
}

#content h2,
#content h5 {
  color: white;
}

/* footer */
footer {
  background-color: #282828;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.progress-bar {
  height: 3px;
  background-color: #585858;
}

.progress-bar.big {
  width: 350px;
}

.progress-bar.small {
  width: 100px;
}

.progress-bar .progress {
  height: 100%;
  width: 25%;
  background-color: #BBBBBB;
}

/** player info  */
.player-info {
  padding: 15px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  color: #656565;
}

.player-info .info {
  align-content: center;
}

.player-info img {
  height: 50px;
  margin-right: 5px;
}

.player-info .folders>* {
  display: block;
  margin: 5px;
  font-size: 1.2em;
}

.player-info h6 {
  color: #fff;
}

/** player  */
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.play-btn {
  font-size: 1.5em;
  color: #fff;
}

.play-btn-big {
  font-size: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.song-progress {
  display: flex;
  align-items: center;
}

.song-progress>*,
.player-input>* {
  margin: 5px 10px;
}

/** player panel  */
.player-panel {
  display: flex;
  align-items: center;
  width: 200px;
}

.player-panel * {
  margin-right: 15px;
}


/* classes */
.cta {
  border: 1px solid white;
  padding: 7px 40px;
  border-radius: 25px;
}

.header-fix {
  height: 80px;
  width: 100%;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/* hover */
.overlay:hover {
  opacity: 1;
  transition: 0.3s;
}

span:hover,
li:hover,
i:hover,
.new-playlist:hover,
.install-app:hover {
  color: #fff;
}

.player-info span:hover {
  text-decoration: underline;
}

.play-btn:hover {
  opacity: 0;
}

.play-btn-big:hover {
  opacity: 1;
}